<html>
<head>
<title></title>
<style type="text/css">
body {
	margin-left: 45px;
	margin-right: 45px;
	font-family: Arial Unicode MS;
	font-size: 10px;
}
</style>
</head>
<script type="text/javascript">
	var p = document.getElementsByTagName("p");
	p[0].innerHTML += "aaaa";
</script>
<body>
<p></p>
<p style="margin-top:0;margin-right:19px;margin-bottom:0;margin-left:19px;text-indent:32px;line-height:24px">
  <strong>
    <span style="font-family: 'Arial Unicode MS';letter-spacing: 0;font-size: 16px">
      <span style="font-family:Arial Unicode MS">附件一：车辆清单</span></span>
  </strong>
</p>
<table width="568">
  <tbody>
    <tr style="height:26px" class="firstRow">
      <td width="76" valign="top" style="padding: 0px 7px; border: 1px solid windowtext;">
        <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-align:center">
          <strong>
            <span style="font-family: 'Arial Unicode MS';letter-spacing: 0;font-size: 13px">车牌号</span></strong>
        </p>
      </td>
      <td width="76" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-top-color: windowtext; border-bottom-color: windowtext;">
        <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:13px">
          <strong>
            <span style="font-family: 'Arial Unicode MS';letter-spacing: 0;font-size: 13px">型号</span></strong>
        </p>
      </td>
      <td width="76" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-top-color: windowtext; border-bottom-color: windowtext;">
        <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-align:center">
          <strong>
            <span style="font-family: 'Arial Unicode MS';letter-spacing: 0;font-size: 13px">发动机号</span></strong>
        </p>
      </td>
      <td width="76" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-top-color: windowtext; border-bottom-color: windowtext;">
        <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-align:center">
          <strong>
            <span style="font-family: 'Arial Unicode MS';letter-spacing: 0;font-size: 13px">车架号</span></strong>
        </p>
      </td>
      <td width="76" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-top-color: windowtext; border-bottom-color: windowtext;">
        <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:13px">
          <strong>
            <span style="font-family: 'Arial Unicode MS';letter-spacing: 0;font-size: 13px">颜色</span></strong>
        </p>
      </td>
      <td width="76" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-top-color: windowtext; border-bottom-color: windowtext;">
        <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-align:center">
          <strong>
            <span style="font-family: 'Arial Unicode MS';letter-spacing: 0;font-size: 13px">公里数</span></strong>
        </p>
      </td>
      <td width="76" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-top-color: windowtext; border-bottom-color: windowtext;">
        <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-align:center">
          <strong>
            <span style="font-family: 'Arial Unicode MS';letter-spacing: 0;font-size: 13px">钥匙数</span></strong>
        </p>
      </td>
      <td width="92" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-top-color: windowtext; border-bottom-color: windowtext;">
        <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:27px">
          <strong>
            <span style="font-family: 'Arial Unicode MS';letter-spacing: 0;font-size: 13px">档案</span></strong>
        </p>
      </td>
      <td width="113" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-top-color: windowtext; border-bottom-color: windowtext;">
        <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:28px">
          <strong>
            <span style="font-family: 'Arial Unicode MS';letter-spacing: 0;font-size: 13px">评估价</span></strong>
        </p>
      </td>
      <td width="104" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-top-color: windowtext; border-bottom-color: windowtext;">
        <p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:28px">
          <strong>
            <span style="font-family: 'Arial Unicode MS';letter-spacing: 0;font-size: 13px">备注</span></strong>
        </p>
      </td>
    </tr>
    <tr style="height:26px">
      <td width="76" valign="top" style="padding: 0px 7px; border-width: 1px; border-left-color: windowtext; border-right-color: windowtext; border-style: solid; border-bottom-color: windowtext;">
        <br/></td>
      <td width="76" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-bottom-color: windowtext;">
        <br/></td>
      <td width="76" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-bottom-color: windowtext;">
        <br/></td>
      <td width="76" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-bottom-color: windowtext;">
        <br/></td>
      <td width="76" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-bottom-color: windowtext;">
        <br/></td>
      <td width="76" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-bottom-color: windowtext;">
        <br/></td>
      <td width="76" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-bottom-color: windowtext;">
        <br/></td>
      <td width="92" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-bottom-color: windowtext;">
        <br/></td>
      <td width="113" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-bottom-color: windowtext;">
        <br/></td>
      <td width="104" valign="top" style="padding: 0px 7px; border-style: solid; border-width: 1px; border-right-color: windowtext; border-bottom-color: windowtext;">
        <br/></td>
    </tr>
  </tbody>
</table>
</body>
</html>
